.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: green;
    background: yellow;
    font-weight: bold;
    font-size: 45px;
    padding: 10px;
}

div {
    background: white;
    padding: 20px;
    text-align: center;
    font-style: italic; /*второй пользователь*/
}